<nav>
    <ul class="pagination">
        <li class=" @(CurrentPage == 1 ? "disabledPage" : "")">
            <button class="pageButton" @onclick="() => SelectPageAsync(1)">First</button>
        </li>
        <li class="@(CurrentPage == 1 ? "disabledPage" : "")">
            <button class="pageButton" @onclick="() => SelectPageAsync(CurrentPage - 1)">Previous</button>
        </li>
        @for (var i = 1; i <= TotalPages; ++i)
        {
            var pageNumber = i;
            <li >
                <button class="pageNumberButton @(CurrentPage == i ? "activePage" : "")" @onclick=" () => SelectPageAsync(pageNumber)">@i</button>
            </li>
        }
        <li class="@(CurrentPage == TotalPages ? "disabledPage" : "")">
            <button class="pageButton" @onclick="() => SelectPageAsync(CurrentPage + 1)">Next</button>
        </li>
        <li class=" @(CurrentPage == TotalPages ? "disabledPage" : "")">
            <button class="pageButton" @onclick="() => SelectPageAsync(TotalPages)">Last</button>
        </li>
    </ul>
</nav>